@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

h1 {
    font-family: 'Quicksand', sans-serif;
    color: #f5f3d9;
}


    ul li {
        color:antiquewhite;
        
        font-family: 'DM Serif Display', serif;
        
    }
body{background-color:#8cb4e8;}